.footer {
  background-color: #007d60;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Geist', sans-serif;
}

.text {
  font-size: 0.9rem;
  margin: 0;
}

.link {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

.link:hover {
  text-decoration: none;
}
